body {
    font-family: "Plus Jakarta Sans", sans-serif;
}

main {
    padding: 0 125px 170px 0;
}

a {
    text-decoration: none;
}

.firstPage {
    height: 100vh;
    padding: 0 10%;
    display: grid;
    grid-template-rows: 13% 87%;
    background-color: #F2F7F8;

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            display: flex;
            height: 30px;
            gap: 10px;
            align-items: center;

            a {
                color: #0C1825;
                gap: 100px;
            }

            img {
                height: 2em;
            }

            div {
                width: 100%;
                display: flex;
                justify-content: space-evenly;
            }
        }

        .left {
            width: 615px;
        }

        .right {
            width: 290px;

            button {
                width: 190px;
                height: 50px;
                background-color: #0D1927;
                color: white;
                border-radius: 10px;
                font-size: 1.02em;
                font-weight: 600;
                cursor: pointer;
            }

            a {
                width: 90px;
                height: 50px;
                background-color: #F2F7F8;
                color: #0C1825;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 10px;
                border: 1px solid #0D1927;
                font-weight: 600;
            }
        }
    }

    footer {
        border: 2px solid black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .left{
            padding: 40% 10% 0 0;
            border: 2px solid red;
            .up button{
                height: 45px;
                width: 350px;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                font-size: 1.04em;
                border-radius: 35px;
                background-color: #0089FF;
                color: white;
                border: none;
                cursor: pointer;
            }
            .up button:hover{
                background-color: black;
            }
            .up button img{
                height: 25px;
            }
            .up{
                h1{
                    font-size: 3em;
                    margin: 0;
                    padding-top: 4%;
                }
                p{
                    padding: 0 50px 0 0;
                    font-size: 1.2em;
                    color: #3D4F60;
                }
            }
        }
    }
}
.firstPage header .noHeader{
    display: none;
}

@media only screen and (max-width: 480px) {
    .firstPage header .noHeader {
        display: flex;
        width: 100%;
        justify-content: space-between;        
    }

    .firstPage header .left {
        display: none;
    }
    .firstPage header .right{
        display: none;
    }
}